# 2015 Flight Delays and Cancellations

https://www.kaggle.com/usdot/flight-delays/home

chunhui zhu - 2018 fall Data608 final project

### Context

The U.S. Department of Transportation's (DOT) Bureau of Transportation Statistics tracks the on-time performance of domestic flights operated by large air carriers. Summary information on the number of on-time, delayed, canceled, and diverted flights is published in DOT's monthly Air Travel Consumer Report and in this dataset of 2015 flight delays and cancellations.

In [2]:
import pandas as pd

In [3]:
flights_data=pd.read_csv("flights.csv",low_memory=False)

In [4]:
flights_data.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [5]:
flights_data.shape

(5819079, 31)

In [6]:
df=flights_data[['MONTH', 'AIRLINE','ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'ARRIVAL_DELAY','DEPARTURE_DELAY','DISTANCE','CANCELLED' ]]

In [7]:
df=df.dropna()

In [8]:
df.shape

(5714008, 8)

In [10]:
df1=df.groupby(['MONTH', 'AIRLINE']).median()

In [13]:
df1=df1[['ARRIVAL_DELAY']]

In [15]:
df1.head()

               ARRIVAL_DELAY
MONTH AIRLINE
1     AA                -3.0
      AS                -6.0
      B6                -3.0
      DL                -8.0
      EV                -3.0

In [16]:
df1.to_csv('airline_delay.csv',encoding='utf-8-sig')

In [17]:
df1.shape

(162, 1)

In [19]:
df2=df.groupby(['MONTH', 'AIRLINE']).size()

In [20]:
df2

MONTH  AIRLINE
1      AA          43074
       AS          13151
       B6          20482
       DL          63676
       EV          48084
       F9           6735
       HA           6408
       MQ          27568
       NK           8632
       OO          46655
       UA          37363
       US          32478
       VX           4647
       WN          98060
2      AA          37180
       AS          12028
       B6          18383
       DL          59070
       EV          42005
       F9           5691
       HA           5773
       MQ          22992
       NK           7813
       OO          42449
       UA          35172
       US          28509
       VX           4054
       WN          86544
3      AA          44440
       AS          14196
                   ...
10     OO          48486
       UA          45676
       VX           5435
       WN         104053
11     AA          73132
       AS          13871
       B6          21542
       DL          72138
       EV          41644
       F9           7713
       HA           6012
       MQ          19331
       NK          10050
       OO          46473
       UA          42236
       VX           5345
       WN         102880
12     AA          75078
       AS          14310
       B6          23197
       DL          70288
       EV          42430
       F9           8018
       HA           6255
       MQ          20091
       NK          10473
       OO          45984
       UA          42554
       VX           5470
       WN         105569
Length: 162, dtype: int64

In [21]:
df2.to_csv('airline_count.csv',encoding='utf-8-sig')